

{% extends 'Client/index.html.twig' %}
{% block body %}
<div class="table-container">
<title>DemandeDonSang</title>

    <h1>DemandeDonSang</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande_don_sang.id }}</td>
            </tr>
            <tr>
                <th>Groupesanguain</th>
                <td>{{ demande_don_sang.groupesanguain }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ demande_don_sang.quantite }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ demande_don_sang.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demande_don_sang_index') }}">back to list</a>
{% if 'ROLE_ADMIN' in app.user.roles %}
    <a href="{{ path('app_demande_don_sang_edit', {'id': demande_don_sang.id}) }}">edit</a>
{% endif %}

    {{ include('demande_don_sang/_delete_form.html.twig') }}
    </div>
    <style>
.table-container {
    margin-top: 100px; /* Adjust according to your header height */
    text-align: center; /* Centers the title */
}

.table {
    margin: auto; /* Centers the table */
}
</style>
{% endblock %}
{% block style %}

{% endblock %}